/*** COLORS ***/
$theme-color: tomato
$theme-title-color: white
$theme-text-color: #ffd4cc /* lighter color of tomato*/
$base-text-color: #2c3e50 /* grey */

/*** FONTS ***/
$title-font: "Lucida Console", Monaco, monospace
$start-font: "Courier New", Courier, monospace
$serious-font: "Palatino Linotype", "Book Antiqua", Palatino, serif
